chien2d2/c2d2/Debug/
exemplos/01-imagens/Debug/
Dependencias/
chien2d2/c2d2/c2d2.vcxproj.user
chien2d2/c2d2lua/Debug/
chien2d2/ca2/Debug/
chien2d2/cator/Debug/
chien2d2/cm2/Debug/
chien2d2/lib/
exemplos/.vs/Projeto1/v14/.suo
exemplos/02-loopjogo/Debug/
exemplos/03-animacao/Debug/
exemplos/04-microdemo/Debug/04-microdemo.log
exemplos/04-microdemo/Debug/
exemplos/Debug/
exemplos/TowerDefenseLua/Debug/
